* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

img {
    max-width: 550px;
}

body {
    background: var(--color-bg);
    max-width: 14440px;
}

a {
    color: unset;
    text-decoration: none;
}

.blurred-circle {
    position: absolute;
    width: 1013px;
    height: 1013px;
    left: -336px;
    top: -305px;

    background: #002853;
    filter: blur(282px);
    z-index: -10;
}

.gradient {

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, var(--color-blue) 0%, rgba(8, 1, 36, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, var(--color-blue) 0%, rgba(8, 1, 36, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, var(--color-blue) 0%, rgba(8, 1, 36, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, var(--color-blue) 0%, rgba(8, 1, 36, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, var(--color-blue) 0%, rgba(8, 1, 36, 1) 100%);

}

.gradient__text {
    background: var(--gradient--text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    padding: 4rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@media screen and (max-width: 1050px) {
  

}
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        padding: 4rem;
    }

    .blurred-circle {
        position: absolute;
        width: 300px;
        height: 300px;
        left: 0px;
        right: 0px;
    
        background: #002853;
        filter: blur(282px);
        z-index: -10;

        display: none;
    }
}

@media screen and (max-width: 550px) {
    .App {
        margin-inline: 2rem;
    }
    .blurred-circle {
        position: absolute;
        width: 300px;
        height: 300px;
        left: 0px;
        right: 0px;

        background: #002853;
        filter: blur(282px);
        z-index: -10;
    }

    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        padding: 4rem 2rem;
    }

}